
entrypoint = "main.cs"

hidden = ["bin", "obj"]
modules = ["dotnet-8.0"]

[env]
DOTNET_NOLOGO = "1"
DOTNET_CLI_TELEMETRY_OPTOUT = "1"
DOTNET_CLI_HOME = "$XDG_CACHE_HOME"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["dotnet", "run"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run API Gateway"

[[workflows.workflow]]
name = "Run API Gateway"
author = 42493567
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ApiGateway && dotnet run"

[[workflows.workflow]]
name = "Build All Services"
author = 42493567
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet build"

[[workflows.workflow]]
name = "Run SFTP Worker"
author = 42493567
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd SftpWorkerService && dotnet run"

[[workflows.workflow]]
name = "Run Business Rules Service"
author = 42493567
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd BusinessRulesService && dotnet run"
